.wrapFooter {
  padding: 1rem 0;
  background-color: #231f20;
  color: #fff;
  margin-top: 1rem;
  .footerContainer {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
  }
}
