.wrapHeader {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    content: "";
    background-image: linear-gradient(
      to bottom,
      rgba(35, 31, 32, 0.9) 0%,
      rgba(33, 29, 30, 0.8) 23%,
      rgba(35, 31, 32, 0.7) 46%,
      rgba(35, 31, 32, 0.5) 71%,
      rgba(35, 31, 32, 0) 100%
    );
  }
}

//sub menu
.wrapMenuHeader {
  z-index: 2;

  .listMenuHeader {
    list-style: none;
    padding: 0;
    margin: 0;
    .linkMenuHeader {
      color: white;
    }

    .itemMenuHeader {
      &.menuSub {
        .listMenuHeader {
          padding: 5px 20px;
          min-width: 100%;
        }
      }
    }
  }
}

.wrapMenuMainHeader {
  > .wrapMenuHeader {
    > .listMenuHeader {
      > .itemMenuHeader {
        margin-left: 15px;
        display: inline-block;
      }
    }
  }
}

.menuSub {
  position: relative;
  padding-right: 15px;

  .wrapMenuHeader {
    position: absolute;
    top: 100%;
    left: -20px;
    z-index: 991;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out, visibility 0.1s 0.1s linear;
    padding-top: 19px;
    min-width: calc(100% + 30px);
    transform: translateY(15px);

    // modal sub menu item
    .wrapMenuHeader {
      top: -5px;
      left: 100%;
      padding: 0 0 0 25px;
    }
  }

  .listMenuHeader {
    // bg modal
    background-color: var(--color2);
    border-radius: 4px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
  }

  &:hover > .wrapMenuHeader {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

// submenu text
.wrapMenuHeader {
  .listMenuHeader {
    .itemMenuHeader {
      &.menuSub {
        .listMenuHeader {
          .linkMenuHeader {
            padding: 10px 0;
            color: #09090b;
            font-weight: 500;
            font-size: 15px;
            transition: 0.3s;

          }
        }
      }
    }
  }
}

// after hover
.wrapMenuMainHeader {
  > .wrapMenuHeader {
    > .listMenuHeader {
      > .itemMenuHeader {
        // hover subtext
        .itemMenuHeader {
          &:hover > .linkMenuHeader {
            color: var(--color3);
          }
        }
        > .linkMenuHeader {
          &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: var(--color3);
            bottom: -0.5rem;
            left: 0%;
            transition: width 0.4s;
          }

          &:hover::after {
            width: 80%;
            opacity: 1;
          }
        }
      }
    }
  }
}


.headerCall {
  z-index: 99;
  .headerCallLink {
    display: flex;
    gap: 0.4rem;
    color: white;

    &:hover {
      cursor: pointer;
      color: var(--color3);
    }
  }
}

.headerLogo {
  z-index: 99;
  .headerLogoLink {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
  }
}
