
.wrapHeaderContact { 
  background-color: var(--color4);
  .headerContainerContact{
    display: flex;
    justify-content: space-between;
    .linkHeader { 
      font-size : .8rem;
      padding : 0.6rem  0rem; 
      color : var(--color2);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      letter-spacing: .6px;
      &:hover {
        color : var(--color6)  ;
      }
    }
  }
}

.itemHeader {
  border-bottom:  1px solid var(--color5);
    .containerItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}


.socialHeader { 
  display: flex;
  gap: .4rem;
  
  .linkItem {
    color : var(--color4) ;
    &:hover {
      color : var(--color6)
    }
    &:last-child{
      font-size: 18px;
    }
  }
}





.btnBooking{
  background-color: var(--color4);
  color : var(--color2); 
  padding: .3rem 1.6rem .4rem;
  display: inline-block;
  text-align: center;
  gap: .5rem ;
  font-size: 14px;
  border : 2px solid var(--color4) ;

  svg {
      margin-left: 10px;
  }
  &:hover{
    opacity: 0.6;
  }
 
}

.imagLogo{
  width: 100px;
}




//sub menu 

.wrapMenuHeader {
  z-index: 2;
  .listMenuHeader {
    list-style: none;
    padding: 0;
    margin: 0;
    .linkMenuHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding : 1rem 0;
      color : var(--color1);
      font-size : 12px;
    }
    .itemMenuHeader {
      &.menuSub {
        .listMenuHeader {
          padding: 5px 20px;
          min-width: 100%;
        }
      }
    }
  }
}

.wrapMenuMainHeader {
  > .wrapMenuHeader {
    > .containerHeader{
      > .listMenuHeader {
        display: flex;
        justify-content: space-between;
      }
    }
    
  }
}

.menuSub {
  position: relative;
  .wrapMenuHeader {
    position: absolute;
    top: 100%;
    left: -20px;
    z-index: 991;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out, visibility 0.1s 0.1s linear;
    min-width: calc(100% + 30px);
    transform: translateY(15px);

    // modal sub menu item
    .wrapMenuHeader {
      top: 0px;
      left: 80%;
      padding: 0 0 0 25px;
    }
  }

  .listMenuHeader {
    // bg modal
    background-color: var(--color2);
    border-radius: 4px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
  }

  &:hover > .wrapMenuHeader {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

// submenu text
.wrapMenuHeader {
  .listMenuHeader {
    .itemMenuHeader {
      position: relative;
      &.menuSub {
        .listMenuHeader {
          .linkMenuHeader {
            padding: 10px 0;
            color: #09090b;
            font-weight: 500;
            font-size: 15px;
            transition: 0.3s;

          }
        }
      }
    }
  }
}

// after hover
.wrapMenuMainHeader {
  > .wrapMenuHeader {
    > .containerHeader {
      > .listMenuHeader {
        > .itemMenuHeader {
          // hover subtext
          .itemMenuHeader {
            &:hover > .linkMenuHeader {
              color: var(--color4);
            }
          }
          > .linkMenuHeader {
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 2px;
              background-color: var(--color4);
              bottom: 10px;
              left: 0%;
              transition: width 0.4s;
            }
  
            &:hover::after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
