.wrapSlider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  transition: transform 1s ease-in-out;
}

.sliderItem {
  flex: 0 0 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliderItemTitle {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 24px;
}

// bullet

.sliderBullet {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .bullet.active {
    background-color: #58c6f7;
  }
}

//btn slider

.SliderBtnPrev {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #58c6f7;
  font-size: 2rem;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.SliderBtnNext {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #58c6f7;
  font-size: 2rem;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}


