.wrapperHeader {
    //   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      position: fixed;
      width: 100%;
        z-index: 99;
    
    }
    
    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
    
      &::before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        content: "";
        background-image: linear-gradient(
          to bottom,
          rgba(35, 31, 32, 0.9) 0%,
          rgba(33, 29, 30, 0.8) 23%,
          rgba(35, 31, 32, 0.7) 46%,
          rgba(35, 31, 32, 0.5) 71%,
          rgba(35, 31, 32, 0) 100%
        );
      
      }
    
    }
    .headerMenu {
      ul {
        display: flex;
        gap: 1rem;
    
        li {
          text-transform: uppercase;
          font-weight: 700;
          position: relative;
          color : white;
            a {
                color : white ;
            }
          &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: #58c6f7;
            bottom: -0.5rem;
            left: 0%;
            transition: width 0.4s;
          }
          &:hover {
            cursor: pointer;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    
    .headerCall {
        z-index: 99;
        a {
            display: flex;
            gap: 0.4rem;
            color : white;
          
            &:hover {
              cursor: pointer;
              color: #58c6f7;
            }
          }
             
    }
    
    .headerLogo {
        z-index: 99;
      a {
        color :white;
        text-transform: uppercase;
        font-weight: 900;
      }
    }