:root {
    --color1 : black;
    --color2 : white;
}

body {
    margin: 0;
    padding : 0;

}
ul {
    padding : 0;
    li {
        list-style-type: none;
    }
    
}

a {
    text-decoration: none !important;
    color : var(--color2) !important ;
}

