:root {
 --color1 : white;
 --color2 : black;
}

body {
    margin: 0;
    padding : 0;
    min-height: 200vh;

}
ul {
    padding : 0;
    li {
        list-style-type: none;
    }
    
}

a {
    text-decoration: none !important;
    color : black;
}


.headerMenu {
    display: flex;
    gap: 10px;
}