:root {
    --color1 : black;
    --color2 : white;
    --color3 : #58c6f7;
    --color4 : #764e2a ;
    --color5 : #eeeeee ;
    --color6 : #fedd9d;
    --color7 : #001524;
}

body {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    min-height:  200vh;
    
}
ul {
    padding : 0;
    li {
        list-style-type: none;
    }
    
}

a {
    text-decoration: none !important;
    padding :0 ;
    margin:  0 ;
}


.linkItem {
    color : var(--color1);
    
}

.itemContent{
    display: flex;
    gap : 20px;
}


// animtion 

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(0); 
    }
  }

@keyframes slideOutToRight {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(100%); 
    }
}

@keyframes slideInToLeft {
    0% {
        transform:  translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

  
.fadeOutRight {
    animation: slideOutToRight 0.5s ease-in-out forwards;
}

.fadeInRight {
    animation: slideInFromRight 0.5s ease-in-out forwards;
}
  

.fadeInLeft {
    animation: slideInToLeft 0.5s ease-in-out forwards;
}

.fadeOutLeft { 
    animation: slideOutToLeft 0.5s ease-in-out forwards ;
}