:root {
    --color1 : black;
    --color2 : white;
    --color3 : #58c6f7;
    --color4 : #764e2a ;
    --color5 : #eeeeee ;
    --color6 : #fedd9d;
}

body {
    margin: 0;
    padding : 0;

}
ul {
    padding : 0 !important;
    li {
        list-style-type: none;
    }
    
}

a {
    text-decoration: none !important;
    padding :0 ;
    margin:  0 ;
}


.linkItem {
    color : var(--color1);
    
}